---
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/starwind/card";
import { Button } from "@/components/starwind/button";
import { Input } from "@/components/starwind/input";
import { Label } from "@/components/starwind/label";
import { Select, SelectTrigger, SelectValue, SelectContent, SelectItem, SelectGroup } from "@/components/starwind/select";

const maxFreq = 50;
---

<Card class="text-white">
  <CardHeader>
    <CardTitle>Function Generator</CardTitle>
    <CardDescription>Parametrized functions</CardDescription>
    <p class="text-sm text-transparent bg-clip-text bg-gradient-to-r from-purple-200 to-fuchsia-300 mt-2">
      Use your mouse wheel or pinch with your fingers to zoom in and out of the graphs.
    </p>
  </CardHeader>
  <form id="wave-form">
    <CardContent class="flex flex-col grid grid-cols-2 gap-4">
      <!-- Row 1: Start and End -->
      <div class="flex w-full flex-col gap-2">
        <Label for="a">Start:</Label>
        <Input type="number" id="a" value="-20" step="0.1" min="-50" max="-1" />
      </div>
      <div class="flex w-full flex-col gap-2">
        <Label for="b">End:</Label>
        <Input type="number" id="b" value="20" step="0.1" min="1" max="50" />
      </div>
      <!-- Row 2: Waveform and Amplitude -->
      <div class="flex w-full flex-col gap-2">
        <Label for="waveform">Waveform:</Label>
        <Select id="waveform">
          <SelectTrigger class="w-full" required>
            <SelectValue id="waveformSelect" placeholder="Sinc" />
          </SelectTrigger>
          <SelectContent>
          <SelectGroup>
              <SelectItem id="waveformSquare" value="square">Square</SelectItem>
              <SelectItem id="waveformTriangle" value="triangle">Triangle</SelectItem>
              <SelectItem id="waveformSinc" value="sinc">Sinc</SelectItem>
              <SelectItem id="waveformCos" value="cos">Cosine</SelectItem>
              <SelectItem id="waveformSin" value="sin">Sine</SelectItem>
              <SelectItem id="waveformExp" value="exp">exp</SelectItem>
              <SelectItem id="waveformSign" value="sign">sign</SelectItem>
            </SelectGroup>
          </SelectContent>
        </Select>
      </div>
      <div class="flex w-full flex-col gap-2">
        <Label for="amplitude">Amplitude (A):</Label>
        <Input type="number" id="amplitude" value="1" step="0.1" min="-100" max="100" />
      </div>
      <!-- Row 3: Frequency and Phase -->
      <div class="flex w-full flex-col gap-2">
        <Label for="frequency" id="frequencyLabel">Frequency (f₀):</Label>
        <Input type="number" id="frequency" value="1" step="0.1" min="0.1" max="50" />
      </div>
      <div class="flex w-full flex-col gap-2">
        <Label for="phase" id="phaseLabel">Phase (ϕ):</Label>
        <Input type="number" id="phase" value="0" step="0.01" min="-100" max="100" />
      </div>
      <!-- Row 4: Interval and Frequency Range -->
      <div class="flex w-full flex-col gap-2">
        <Label for="interval">Interval (T):</Label>
        <Input type="number" id="interval" value="0.01" step="0.01" min="0.01" max="0.1" />
      </div>
      <div class="flex w-full flex-col gap-2">
        <Label for="bandwidth" id="bandwidthLabel">BW (&lt;= {maxFreq} Hz):</Label>
        <Input type="number" id="bandwidth" value="4" step="0.1" min="0.1" max={maxFreq} />
      </div>
    </CardContent>
    <CardFooter class="flex justify-center">
      <Button type="submit" id="generate-button" variant="purple">Generate function</Button>
    </CardFooter>
  </form>
</Card>

<script>
import { fetchSignal } from "@/scripts/signal-handler.js";
import loadSignalParamsFromLocalStorage from "@/scripts/signal-handler.js";

const loadedParams = loadSignalParamsFromLocalStorage();

const formElement = document.getElementById("wave-form") as HTMLFormElement;

const startInput = document.getElementById('a') as HTMLInputElement;
const endInput = document.getElementById('b') as HTMLInputElement;
const amplitudeInput = document.getElementById('amplitude') as HTMLInputElement;
const frequencyInput = document.getElementById('frequency') as HTMLInputElement;
const phaseInput = document.getElementById('phase') as HTMLInputElement;
const intervalInput = document.getElementById('interval') as HTMLInputElement;
const bandwidthInput = document.getElementById('bandwidth') as HTMLInputElement;

const frequencyLabelElement = document.getElementById('frequencyLabel') as HTMLLabelElement;
const phaseLabelElement = document.getElementById('phaseLabel') as HTMLLabelElement;
const bandwidthLabelElement = document.getElementById('bandwidthLabel') as HTMLLabelElement;

let waveformInput: string | null = null;


if (loadedParams) {
  const { a, b, signalShape, amplitude, frequency, phase, interval, freqrange } = loadedParams;
  startInput.value = a;
  endInput.value = b;
  amplitudeInput.value = amplitude;
  frequencyInput.value = frequency;
  phaseInput.value = phase;
  intervalInput.value = interval;
  bandwidthInput.value = freqrange;

  const waveformSelect = document.getElementById('waveformSelect');

  const waveformSquare = document.getElementById('waveformSquare');
  const waveformTriangle = document.getElementById('waveformTriangle');
  const waveformSinc = document.getElementById('waveformSinc');
  const waveformCosine = document.getElementById('waveformCos');
  const waveformSine = document.getElementById('waveformSin');
  const waveformExp = document.getElementById('waveformExp');
  const waveformSign = document.getElementById('waveformSign');

  switch (signalShape) {
    case "square":
      waveformSelect.innerHTML = "Square";
      waveformSquare.setAttribute("aria-selected", "true");
      frequencyLabelElement.innerHTML = "Duration (P):";
      phaseLabelElement.innerHTML = "Translate (X):";
      break;
    case "triangle":
      waveformSelect.innerHTML = "Triangle";
      waveformTriangle.setAttribute("aria-selected", "true");
      frequencyLabelElement.innerHTML = "Duration (2P):";
      phaseLabelElement.innerHTML = "Translate (X):";
      break;
    case "sinc":
      waveformSelect.innerHTML = "Sinc";
      waveformSinc.setAttribute("aria-selected", "true");
      break;
    case "cos":
      waveformSelect.innerHTML = "Cosine";
      waveformCosine.setAttribute("aria-selected", "true");
      break;
    case "sin":
      waveformSelect.innerHTML = "Sine";
      waveformSine.setAttribute("aria-selected", "true");
      break;
    case "exp":
      waveformSelect.innerHTML = "exp";
      waveformExp.setAttribute("aria-selected", "true");
      break;
    case "sign":
      waveformSelect.innerHTML = "sign";
      waveformSign.setAttribute("aria-selected", "true");
      break;
  }
}

function updateDynamicMax() {
    const currentInterval = parseFloat(intervalInput.value);

    const a = parseFloat(startInput.value);
    const b = parseFloat(endInput.value);
    const total_samples = Math.ceil((b - a) / currentInterval);
    
    const dynamicMax = Math.floor(10*(total_samples - Math.round(total_samples/2))/(total_samples * currentInterval)) / 10;

    bandwidthInput.setAttribute('max', dynamicMax.toString());
    bandwidthLabelElement.innerHTML = `BW (<= ${dynamicMax} Hz):`;
    if (parseFloat(bandwidthInput.value) > dynamicMax) {
        bandwidthInput.value = dynamicMax.toString();
    }
}

document.querySelector('.starwind-select')?.addEventListener('starwind-select:change', (event) => {
  waveformInput = (event as CustomEvent).detail.value;

  if (waveformInput !== loadedParams) {
    document.getElementById(`waveform${loadedParams.signalShape.charAt(0).toUpperCase() + loadedParams.signalShape.slice(1)}`)?.
    setAttribute("aria-selected", "false");
  }
  let newFreqLabel = "Frequency (f₀):";
  let newPhaseLabel = "Phase (ϕ):";
    switch (waveformInput) {
      case "square":
        newFreqLabel = "Duration (P):";
        newPhaseLabel = "Translate (X):";
        break;
      case "triangle":
        newFreqLabel = "Duration (2P):";
        newPhaseLabel = "Translate (X):";
        break;
    }
    
    if (frequencyLabelElement) {
      frequencyLabelElement.innerHTML = newFreqLabel;
    }

    if (phaseLabelElement) {
      phaseLabelElement.innerHTML = newPhaseLabel;
    }

});

intervalInput.addEventListener('input', updateDynamicMax);
startInput.addEventListener('input', updateDynamicMax);
endInput.addEventListener('input', updateDynamicMax);

let submitTriggered = false;

formElement.addEventListener("submit", async (e) => {
  e.preventDefault();
  
  if (!submitTriggered) {
    return;
  } else {
    submitTriggered = false;
  }

  const formData = {
    a: startInput.value,
    b: endInput.value,
    signalShape: waveformInput || loadedParams.signalShape || "sinc",
    amplitude: amplitudeInput?.value,
    frequency: frequencyInput?.value,
    phase: phaseInput?.value,
    interval: intervalInput?.value,
    freqrange: bandwidthInput?.value
  };
  
  window.showChartLoading();
  await fetchSignal(formData, true);
});


const generateButton = formElement.querySelector("#generate-button");
if (generateButton) {
  generateButton.addEventListener('mousedown', (e) => {
      e.preventDefault();
      submitTriggered = true;
      formElement.requestSubmit(generateButton as HTMLElement);
  });
  generateButton.addEventListener('keydown', (e) => {
    const event = e as KeyboardEvent;
    if (event.key === 'Enter' || event.key === ' ') {
      event.preventDefault();
      submitTriggered = true;
      formElement.requestSubmit(generateButton as HTMLElement);
    }
  });
} else {
  console.error("Generate button not found");
}

updateDynamicMax();
</script>
